p {
    color: #35529e;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 35px;
    margin-top: 70px;
}

.info-text {
    align-self: center;
    width: 80%;
    font-size: 20px;
    line-height: 35px;
}

.horst-img {
    width: 150px;
    align-self: flex-start;
    margin: 30px 30px 0 0;
}

.chat-app-wrapper {
    height: 450px;
}