<div class="filter" fxLayoutGap="130px" fxLayoutAlign="center">
    <mat-form-field>
        <mat-label>Typ</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let type of typeFilter" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Kategorie</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let category of categoryFilter" [value]="category">{{category}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Industrie</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let industry of industryFilter" [value]="industry">{{industry}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="solution-wrapper">
    <div fxLayout="row" *ngFor="let solution of recommendationResults">
        <div class="card" [ngClass]="{'light-red': solution.color === 1, 
        'yellow': solution.color === 2, 
        'light-blue': solution.color === 3}" 
        (click)="openCard(solution.doc.link)">
            <div class="image" style="background: url({{ solution.doc.imageUrl }}); background-size: cover;">
            </div>
            <div class="card-text">
                <p class="text title">{{ solution.doc.title | titlecase }}</p>
                <p class="text type">{{ solution.doc.type | titlecase }}</p>
                <p class="text description">{{ solution.doc.description }}</p>
            </div>
        </div>
    </div>
</div>