<div fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap="50px" *ngFor="let solution of recommendationResults">
        <div class="card" (click)="openCard(solution.doc.link)">
            <div>
                <img class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </div>
            <div class="card-text">
                <p class="text title">{{ solution.doc.title | titlecase }}</p>
                <p class="text type">{{ solution.doc.type | titlecase }}</p>
                <p class="text description">{{ solution.doc.description }}</p>
            </div>
        </div>
    </div>
</div>