.card {
    margin: 0 30px;
    width: 250px;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
}

.light-red {
    background-color: var(--main-color-light-red);
}

.yellow{
    background-color: var(--main-color-yellow);
} 

.light-blue {
    background-color: var(--main-color-light-blue);
}

.text {
    color: white;
}

.solution-wrapper {
    overflow-x: scroll;
    width: 920px;
    display: flex;
    margin: 50px auto 0;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.type {
    font-size: 15px;
}

.description {
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image{
    height: 200px;
    background-color: white;
    border-radius: var(--main-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;;
}

.card-text {
    height: 220px;
    padding: 20px;
}