.card {
    margin: 0 20px;
    width: 250px;
    cursor: pointer;
    background-color: #ff9c7f;
    border-radius: var(--main-border-radius);
}

.text {
    color: white;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.type {
    font-size: 15px;
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 200px;
}

.image-wrapper{
    height: 150px;
    background-color: white;
}

.image {
    border-top-right-radius: var(--main-border-radius);
    border-top-left-radius: var(--main-border-radius);
    width: 250px;
}

.card-text {
    padding: 20px;
}