p {
    text-align: center;
    padding: 0;
}

.page-wrapper {
    height: 100%;
}

@media only screen and (max-width: 480px) {
    .title {
        margin-top: 15px;
    }

    .info-text {
        font-size: 15px !important;
        line-height: 25px !important;
    }
}

.info-text {
    align-self: center;
    width: 80%;
    font-size: 20px;
    line-height: 35px;
}

.horst-img {
    width: 150px;
    align-self: flex-start;
    margin: 30px 30px 0 0;
}

.chat-app-wrapper {
    max-height: 450px;
}

@media only screen and (max-height: 700px) {
    .chat-app-wrapper {
        max-height: 380px;
    }
}

@media only screen and (max-height: 600px) {
    .chat-app-wrapper {
        max-height: 250px;
    }
}

.user-name-bubble {
    margin-top: 82px;
    background-color: white;
    border-radius: var(--main-border-radius);
    border-top-left-radius: 0px;
    box-shadow: 2px 2px 5px white;
    padding: 12px 12px 0;
}

@media only screen and (max-width: 600px) {
    .user-name-bubble {
        margin-top: 0px;
        margin-bottom: 100px;
    }
}

.user-name-text {
    text-align: left;
    margin: 0 0 4px;
}

.form-field {
    width: 220px;
}