<div class="page-wrapper" fxLayout="column" fxLayoutGap="50px" fxLayoutGap.lt-sm="10px" fxLayoutAlign.lt-sm="space-between">
    <div class="info-text">
        <p>Du bist als Kleinunternehmer, Künstler, lokaler Einzelhänlder o. Ä. von der Corona Krise betroffen? Wir lassnen dich nicht allein! Horst hilft dir dabei, schnell und gezielt für dein Problem eine Lösung zu finden.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <img fxHide.lt-md="true" class="horst-img" src="assets/images/horst.svg">
        <div class="chat-app-wrapper" [hidden]="requestUserName">
            <app-chat></app-chat>
        </div>
        <div class="user-name-bubble" [hidden]="!requestUserName">
            <p class="user-name-text" >Bitte logge dich ein,<br/>damit wir uns unterhalten können.</p>
            <form [formGroup]='loginForm' (ngSubmit)="login()">
                <mat-form-field class="form-field">
                    <input matInput formControlName="username" placeholder="E-Mail" (keyup.enter)="login()">
                </mat-form-field>
                <br/>
                <mat-form-field class="form-field">
                    <input matInput formControlName="password" placeholder="Passwort" [type]="hide ? 'password' : 'text'" (keyup.enter)="login()">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>