<div fxLayout="row">
    <div *ngIf="user">
        <p class="logged-in-msg">Eingeloggt als: {{user}}</p>
    </div>
    <div>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="/">Startseite</button>
            <button mat-menu-item routerLink="/Loesungen">Alle Unterstützungen</button>
            <button fxHide.gt-md mat-menu-item routerLink="/Checkliste">Checkliste</button>
            <button *ngIf="user" mat-menu-item class="log-out-in-btn" (click)="logout()">Ausloggen</button>
            <button *ngIf="!user" mat-menu-item class="log-out-in-btn" routerLink="/">Einloggen</button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon class="menu-icon">menu</mat-icon>
        </button>
    </div>
</div>
