.home-page-wrapper {
    height: 100%;
}

.content-wrapper {
    width: 60%;
    height: 100%;
    margin-left: 250px
}

@media only screen and (max-width: 1280px) {
    .content-wrapper {
        width: 100%;
        margin-left: 0px;
    }
}