<div (mouseover)="showChecklistText=true" (mouseout)="showChecklistText=false" [hidden]="!isBoxClosed">
    <div fxLayout="row" class="open-icon-wrapper">
        <!-- <p class="open-icon-text" *ngIf="showChecklistText">Show</p> --> 
        <span class="material-icons open-icon" (click)="toggleChecklist()">chevron_right</span>
    </div>
</div>
<div class="box-wrapper" [hidden]="isBoxClosed">
    <div class="close-button-wrapper" fxLayoutAlign="flex-end" >
        <span class="material-icons close-icon" (click)="toggleChecklist()">close</span>
    </div>
    <app-checklist-content></app-checklist-content>
</div>