.box-wrapper {
    height: 100%;
    background-color: var(--main-font-color);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: var(--main-box-shadow);
}

.close-button-wrapper {
    padding: 20px 20px 0 0 ;
}

.open-icon-wrapper{
    margin-top: 20px;
}

.open-icon-text{
    padding-top: 6px;
    font-size: 20px;
    color: var(--main-font-color);
}

.close-icon {
    cursor: pointer;
    font-size: 35px;
    color: white;
}

.open-icon {
    cursor: pointer;
    font-size: 35px;
    color: var(--main-font-color); 
}