<div (mouseover)="showChecklistText=true" (mouseout)="showChecklistText=false" [hidden]="!isBoxClosed">
    <div fxLayout="row" class="open-icon-wrapper">
        <!-- <p class="open-icon-text" *ngIf="showChecklistText">Show</p> --> 
        <span class="material-icons open-icon" (click)="toggleChecklist()">chevron_right</span>
    </div>
</div>
<div class="box-wrapper" [hidden]="isBoxClosed">
    <div class="close-button-wrapper" fxLayoutAlign="flex-end" >
        <span class="material-icons close-icon" (click)="toggleChecklist()">close</span>
    </div>
    <div class="text-wrapper">
        <div>
            <p class="title">Checkliste</p>
            <p class="sub-title">WAS HAST DU BISHER<br/>SCHON GETAN?</p>
        </div>
        <div class="list-wrapper">
            <ul>
                <li>Wasch halt einfach deine Hände</li>
                <li>Natürlich mit Seife</li>
                <li>alles andere wäre echt blöd</li>
                <li>So einfach ist das</li>
                <li>Wasch halt einfach deine Hände</li>
                <li>Natürlich mit Seife</li>
                <li>alles andere wäre echt blöd</li>
                <li>So einfach ist das</li>
                <li>Wasch halt einfach deine Hände</li>
                <li>Natürlich mit Seife</li>
                <li>alles andere wäre echt blöd</li>
                <li>So einfach ist das</li>
                <li>Wasch halt einfach deine Hände</li>
                <li>Natürlich mit Seife</li>
                <li>alles andere wäre echt blöd</li>
                <li>So einfach ist das</li>
            </ul>
        </div>
    </div>
</div>