p, li {
    color: white;
}

ul {
    padding-left: 10px;
}

li {
    margin-top: 10px;
}

.box-wrapper {
    height: 100%;
    background-color: #35529e;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.close-button-wrapper {
    padding: 20px 20px 0 0 ;
}

.open-icon-wrapper{
    margin-top: 20px;
}

.open-icon-text{
    padding-top: 6px;
    font-size: 20px;
    color: #35529e;
}

.close-icon {
    cursor: pointer;
    font-size: 35px;
    color: white;
}

.open-icon {
    cursor: pointer;
    font-size: 35px;
    color: #35529e; 
}

.text-wrapper {
    padding: 100px 50px 30px 30px;
}

.list-wrapper {
    margin-top: 70px;
}

.title {
    font-size: 35px;
}

.sub-title {
    margin-top: 20px;
    font-size: 20px;
}