<div class="box-wrapper">
    <div class="close-button-wrapper" fxLayoutAlign="flex-end">
        <span class="material-icons close-icon">close</span>
    </div>
    <div class="text-wrapper">
        <div>
            <p class="title">Checkliste</p>
            <p class="sub-title">WAS HAST DU BISHER<br/>SCHON GETAN?</p>
        </div>
        <div class="list-wrapper">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>sed diam nonumy eirmod tempor</li>
                <li>invidunt ut labore et dolore magna aliquyam</li>
                <li>sed diam voluptua</li>
                <li>Wasch halt einfach deine Hände</li>
                <li>Natürlich mit Seife</li>
                <li>alles andere wäre echt blöd</li>
                <li>So einfach ist das</li>
            </ul>
        </div>
    </div>
</div>