/* You can add global styles to this file, and also import other style files */
:root {
    --main-font-color: #35529e;
    --main-bg-color: #f2f2f2;
    --main-color-yellow: rgb(246,191,97);
    --main-color-light-yellow: rgb(247, 218, 170);
    --main-box-shadow: 2px 2px 5px #d8d8d8;
    --main-border-radius: 20px;
}

html, body { 
    height: 100%;
    background-color: var(--main-bg-color); 
}

body { 
    margin: 0;
    font-family: 'Baloo 2', cursive !important;
    font-style: normal;
    font-weight: 100; 
}

.k-chat{
    background-color: white;
    border: none;
    border-radius: var(--main-border-radius);
    border-top-left-radius: 0px;
    box-shadow: var(--main-box-shadow);
}

p {
    color: var(--main-font-color);
}

@media only screen and (max-width: 480px) {
    .k-chat{
        border-radius: 0px;
    }
}

.k-message-box {
    border: none;
    background-image: linear-gradient(to top, var(--main-color-yellow) 0%, var(--main-color-light-yellow) 50%);
    line-height: 35px;
    color: white !important;
    padding: 15px 25px;
}

.k-input {
    padding-left: 15px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.k-input::placeholder{
    font-size: 18px;
    color: white !important;
}

.k-quick-reply {
    color: var(--main-color-yellow) !important;
    border-color: var(--main-color-yellow) !important;
}

.k-quick-reply:hover {
    background-color: var(--main-color-yellow) !important;
    color: white !important;
}

.k-bubble {
    color: var(--main-font-color) !important;
    background-color: var(--main-bg-color) !important; 
    box-shadow: var(--main-box-shadow) !important;
    border: none !important;
}

.k-button-send:hover {
    color: white !important; 
}

.k-author {
    display: none;
}

.k-timestamp {
    display: none;
}