<div class="text-wrapper">
    <div>
        <p class="title">Checkliste</p>
        <p class="sub-title">WAS HAST DU BISHER<br/>SCHON GETAN?</p>
    </div>
    <div class="list-wrapper">
        <ul>
            <li>Wasch halt einfach deine Hände</li>
            <li>Natürlich mit Seife</li>
            <li>alles andere wäre echt blöd</li>
            <li>So einfach ist das</li>
            <li>Wasch halt einfach deine Hände</li>
            <li>Natürlich mit Seife</li>
            <li>alles andere wäre echt blöd</li>
            <li>So einfach ist das</li>
            <li>Wasch halt einfach deine Hände</li>
            <li>Natürlich mit Seife</li>
            <li>alles andere wäre echt blöd</li>
            <li>So einfach ist das</li>
            <li>Wasch halt einfach deine Hände</li>
            <li>Natürlich mit Seife</li>
            <li>alles andere wäre echt blöd</li>
            <li>So einfach ist das</li>
        </ul>
    </div>
</div>