<div class="more-info-wrapper" fxLayout="column">
    <div class="all-items-card" routerLink="/Loesungen">
        <p class="title">Hier gibt es alle Ergebnisse</p>
        <p>Hier findest du alle bisherhigen Einträge mit der
            Möglichkeit sie nach Kategorien zu Filtern.</p>
        <span class="material-icons go-to-icon">arrow_forward</span>
    </div>
    <div class="logo-wrapper">
        <img (click)="openHackathonPage()" fxHide.lt-md="true" class="hackathon-logo" src="assets/images/hackathon-logo.svg">
        <p>Diese Seite ist im Rahmen des #wirvsvirus Hackathon der Bundesregierung entstanden.</p>
    </div>
</div>