.checklist {
    height: 100%;
    width: fit-content;
    position: fixed;
}

.header {
    width: 100%;
}

.content {
    height: calc(100vh - 170px);
    padding-top: 50px;
}

@media only screen and (max-width: 700px){
    .content {
        height: calc(100vh - 127px);
        padding-top: 10px;
    }
}
